<% if (message) { %>
    <span><%= message %> </span>
    <% } %>
    <h2>Log in</h2>
<form action="/user/login" method="post"> <!-- /user/create name of the route for handling this form -->
<label for="email">
<input type="email" name="email">Email:</label>
<label for="password">
<input type="password" name="password">Password:</label>
<button type="submit">Submit</button>
</form>